* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: url('../img/bg.svg') no-repeat center center fixed; 
    background-size: cover;
}

.bar-container {
    margin-top: 1em;
    font-family: 'Dancing Script', cursive;
}

h1 {
    color: #ea3324;
    font-size: 3rem;
    text-align: center;
}

.title {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 80vw;
    margin: auto;
    margin-top: 1em;
    border: 5px dotted grey;
    border-radius: 50px;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-item img {
    width: 30px;
    display: none;
}

.navbar a {
    text-decoration: none;
    color: #ea3324;
    margin-left: 30px;
    font-size: 1.8rem;
}

.navbar a:hover {
    border-bottom: 2px solid #ea3324;
    padding-bottom: 1px;
}

.window {
    height: 90vh;
    width: 80vw;
    margin: auto;
    margin-top: 1em;
    background-color: white;
    border: 5px dotted grey;
    border-radius: 50px;
}

.home-container {
    width: 80%;
    margin: auto;
    height: 100%;
}

.home-content {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
}

.home-content h1 {
    font-family: 'Lora';
    font-weight: 200;
}

.home-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 50px;
    border: 5px dotted grey;
}

.footer {
    height: 10vh;
    width: 80vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    border: 5px dotted grey;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ea3324;
    font-family: 'Dancing Script', cursive;
}